<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Usuarios</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Buscar" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
      <div class="col-md-3" style="margin-top: 2em; display: flex; align-items: center;">
        <h6>Ver usuarios inactivos</h6>
        <input style="margin: 0; margin-left: 5px; " type="checkbox" ng-model="vm.inactivo" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
      <div class="col-md-1" style="margin-top: 2em">
      </style>
        <a class="btn btn-primary pull-right" data-ui-sref="admin.user-create">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
    <div ng-if="user.status === 'Activo' || user.status === 'newActivo'"> 
        <h4 class="list-group-item-heading" ng-bind="user.displayName"></h4> 
    </div>
    <div ng-if="user.status === 'Inactivo'"> 
        <h4 class="list-group-item-heading">{{user.displayName}} <FONT COLOR="red">(INACTIVO)</FONT></h4> 
    </div>
        <p class="list-group-item-text" ng-bind="user.rolesShow"></p>
    </a>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
