<section>
  <div class="page-header">
      <div class="row">
          <div class="col-md-4">
            <h1>Disciplinas </h1> 
          </div>
          <div class="col-md-4" style="margin-top: 2em">
            <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Buscar" ng-change="vm.figureOutItemsToDisplay()" />
          </div>
          <a class="btn btn-primary pull-right" style="margin-top: 2em; margin-right: 2em" data-ui-sref="admin.articles.create">
            <i class="glyphicon glyphicon-plus"></i>
          </a>
      </div>
  </div>
  <div class="list-group">
    <a ng-repeat="article in vm.pagedItems" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
      <h4 class="list-group-item-heading"> {{article.title}} ($ {{article.price}})</h4>
      <p class="list-group-item-text" data-ng-bind="article.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
    Todavia no hay disciplinas, ¿Quieres crear una nueva? <a data-ui-sref="admin.articles.create">Crear</a>?
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
    
</section>
